.display{
    display: none;
}
.mymouse{
    cursor: pointer;
}
.loading{
    width: 100vw;
    height: 100vh;
    background: url(/static/load.gif);
    background-color: #E5E1DD;
    background-position: center;
    background-size: 10%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 8;
}
#windowBackground{
    width: 100vw;
    background-color: black;
    opacity: 0.25;
    height: 100vh;
    position: fixed;
    z-index: 100;
    margin: 0px 0px 0px 0px ;
}
.g_id_signin{
    width: 270px;
    height: 27px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign{
    position: fixed;
    z-index: 100;
    background-color: #E5E1DD;
    width: 340px;
    height: auto;
    top: 80px;
    left: 50%;
    transform:translate(-50%, 0);
    border-radius: 5px;
}

.signHead{
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #CAAD8D 0%, #824533 100%);
}


.signImg{
    background: url(/static/icon_close.png);
    height: 16px;
    width: 16px;
    position: fixed;
    top: 27px;
    right: 17px;
}
.signinInput{
    width: 280px;
    height: 17px;
    border: 1px #CCCCCC solid;
    color: #666666;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin: 5px 15px;
    text-align: left;
}

.signinFoot{
    width: 310px;
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 5px 15px 15px 15px;
    text-align: center;
}

/* signup */

.signTitle{
    margin: 0px auto 0px auto;
    width: 310px;
    height: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    margin: 15px auto 10px auto;
    text-align: center;

}

.signupInput{
    width: 280px;
    height: 17px;
    border: 1px #CCCCCC solid;
    color: #666666;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin: 5px 15px;
    text-align: left;
}
.signButton{
    width: 270px;
    height: 27px;
    background: #824533;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px auto;
}
.signButtonText{
    width: 270px;
    height: 27px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
}
.signupFoot{
    width: 310px;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    margin: 5px 15px 15px 15px;
    text-align: center;
}

header{
    background: #E4DDD4;
    height: 35px;
    width: 100vw;
    position: fixed;
    display: flex;
    padding:5px 0px 5px 0px;
    border-bottom: 1px solid #B25A42;
    z-index: 9;

}
.headTitle{
    color: #824533 ;
    font-weight:700;
    font-size: 30px;
    margin:0px auto 0px auto;
    display: flex;
    justify-content: center;
}
.headRight{
    color: #824533;
    display: flex;
    margin: 8px 10px 0px 0px ;
    font-size:16px;
    position: absolute;
    right: 50px;
    font-weight: 700;
}

.trip{
    margin-right: 10px;
}

body{
    margin: 0px;
    font-size: 14px;
    background:#E4DDD4 ;
}
footer{
    background: #757575;
    height: 104px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    bottom: 0px;
}
.foot{
    line-height: 13px;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;

} 

/* index */
.hero{
    width: 100vw;
    height: 30vh;
    padding-top: 45px;
}
.heroContent{
    color: #824533;
    font-weight:700;
    font-size: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.g-signin2{
    width: 270px;
    height: 27px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explorebar{
    display: flex;
    margin: 5px auto;
    justify-content: center;
}
.exploreButton{
    width: 100px;
    height: 52px;
    background: #B25A42;
    color: #E5E1DD;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 52px;
    font-weight: 700;
}
.exploreInput{
    width: 280px;
    border: 1px #CCCCCC solid;
    color: #666666;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    text-align: left;
}
.resultBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: 20px auto 5px auto;
    border-radius: 10px;
}
.resultCard{
    width: 25%;
    background-color: #BEB1A1;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

}
.resultImg{
    width: 100%;
    height: 55%;
    border-radius: 5px 5px 0px 0px;
}
.resultTitle{
    font-size: 22px;
    margin: 5px;
    color: #824533;
    height: 120px;
    overflow: hidden;
    font-weight: 700;
}
.resultContent{
    font-size: 15px;
    color: #666666;
    margin: 5px;
    overflow: hidden;
}
a {
    text-decoration:none;
}
.pageBar{
    margin: 5px auto;
    display: flex;
    justify-content: center;
}
.pageButton{
    width: 100px;
    height: 47px;
    background: #BEB1A1;
    color: #666666;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 47px;
    margin: 5px;
    font-weight: 700;  
}
.placeLoad{
    width: 100vw;
    height: 40vh;
    background: url(/static/load.gif);
    background-color: #E4DDD4;
    background-position: center;
    background-size: 10%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 8;
}
.ham{
    width: 35px;
    height: 35px;
    background: url(/static/ham.png);
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .ham{
        display: flex;
        position: absolute;
        right: 10px;
        
    } 
    .heroContent{
        width: 320px;
    }
    .hero {
        width: 320px;
        height: 30vh;
        padding-top: 45px;
        margin: 0px auto;
    }       
    .flex{
        display: flex;
        
    }
    .headRight{
        display: none;
        flex-direction: column;
        right: 10px;
        position: absolute;
        top: 38px;
        background: white;
        border: 1px solid;
        padding: 10px;
        margin: 8px auto;
        width: 90px;
    }
    .headTitle{
        left: -20px;
    }
    .trip{
        margin: 0px;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .signInbtn{
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .resultCard{
        width: 100%;
    }
    .exploreInput{
        width: 220px;
    }
    .exploreButton{
        width: 80px;
    }
}