<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/static/explore.css" charset="utf-8">
    <!-- js -->
    <script src="/static/explore.js"></script>
    <!-- google signIn -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="">
    <title>PlanJoy</title>
</head>

<body onload="checkMember()" >
    <header>  
        <div class="headTitle mymouse" onclick="location.href='/'">PlanJoy</div>
        <div class="ham" onclick="hamclick()"></div>
        <div class="headRight" id="headRight">
            <div class="trip mymouse" onclick="location.href='/explore'">探索行程</div>
            <div class="trip mymouse" onclick="location.href='/'">個人行程</div>
            <div id="signInbtn" class="signInbtn mymouse" onclick="signinWindow()">會員登入</div>
            <div id="signOutbtn" class=" signInbtn mymouse display" onclick="signOut()">會員登出</div>
        </div>
    </header>
    <div id="windowBackground" class="display" onclick="closeWindow()">
    </div>
    <div id="loading" class="loading"></div>
    <div  class="sign display" id="signIn">
        <div class="signHead"></div>
        <div class="signImg mymouse"  onclick="closeWindow()"></div>
        <div class="signTitle">登入會員帳號 </div>
        <input class="signinInput" type="email" id="signinEmail" placeholder="輸入電子信箱">
        <input class="signinInput" type="password" id="signinPassword" placeholder="輸入密碼">
        <div class="errorText display" id="signinError" >帳號或密碼輸入錯誤</div>
        <div class="signButton mymouse" onclick="signIn()" >
            <div class="signButtonText" >登入帳戶</div>
        </div>
        <div id="g_id_onload"
            data-client_id=""
            data-callback="handleCredentialResponse"
            data-auto_prompt="false"
            onclick="onSignIn(googleUser)">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            text="signin_with"
            data-shape="rectangular"
            data-logo_alignment="left"
            onclick="onSignIn(googleUser)">
        </div>
        <div class="signinFoot mymouse"  onclick="signupWindow()">還沒有帳戶？點此註冊</div>   
    </div>
    
    <div class="sign display" id="signUp">
        <div class="signHead"></div>
        <div class="signImg mymouse"  onclick="closeWindow()"></div>
        <div class="signTitle">註冊會員帳號 </div>
        <input class="signupInput" id="signupName" placeholder="輸入姓名">
        <input class="signupInput" type="email" id="signupEmail" placeholder="輸入電子信箱">
        <input class="signupInput" type="password" id="signupPassword" placeholder="輸入密碼">
        <div class="errorText display" id="signupemailError" >此電子信箱已被註冊</div>
        <div class="errorText display" id="signupspaceError" >欄位為空白或含非法字元</div>
        <div class="signButton mymouse" onclick="signUp()">
            <div class="signButtonText" >註冊新帳戶</div>
        </div>
        <div class="signupFoot mymouse"  onclick="signinWindow()">已經有帳戶？點此登入</div>   
    </div>
    <div id="center">
        <div class="hero">
            <div class="heroContent">Plan your trip in Joy</div>
        </div>
        <div class="explorebar">
            <select class="exploreInput" type="text" id="search" placeholder="輸入縣市名稱" >
                <option value="taipei">台北</option>
                <option value="taoyuan">桃園</option>
                <option value="taichung">台中</option>
                <option value="nantou">南投</option>
                <option value="chiayi">嘉義</option>
                <option value="tainan">台南</option>
                <option value="kaohsiung">高雄</option>
                <option value="taiwan-penghu">澎湖</option>
                <option value="yilan">宜蘭</option>
                <option value="hualien">花蓮</option>
                <option value="taitung">台東</option>
            </select>
            <div class="exploreButton mymouse" onclick="explore()">搜尋</div>

        </div>
        <div class="placeLoad display" id="placeLoad"></div>
        <div class="resultBar" id="resultBar">  
        </div>
        <div class="pageBar " >
            <div class="pageButton mymouse" id="pageButton" onclick="morePage()">載入更多</div>
        </div>
    </div>

    <footer>
        <div class="foot">
            COPYRIGHT © 2021 PlanJoy   
        </div>
    </footer>
</body>
</html>
